h1{color: blue; background-color; text-align: center; font-style: italic; font-size: 60px; font-weight: bold;}
h2{color: green; font-family: Arial, Helvetica, sans-serif;}
p{color: blueviolet; font-weight: bold; font-style: italic;}
img{height: 300px; border: 20px;
}
body{background-color: yellow;}
#caja{background-color: blue; color: yellow; width: 200px; height: 100px;}